@media only screen and (min-width: 1999px) {
	.free-nav ul {
		margin-left: 12rem;
	}

	.nav {
		&__container {
			max-width: 1400px;
		}
	}

	.about-me {
		&__container {
			max-width: 1400px;
		}
	}

	.projects {
		&__container {
			max-width: 1400px;
		}
	}
}
@media only screen and (max-width: 1550px) {
	.free-nav ul {
		margin-left: 1.5rem;
	}
}

@media only screen and (max-width: 1450px) {
	.nav {
		&__container {
			max-width: 1050px;
		}
	}

	.free-nav ul {
		margin-left: 2rem;
	}

	.about-me {
		height: auto;

		&__container {
			max-width: 1050px;
			min-height: 100vh;
		}
	}

	.projects {
		&__container {
			max-width: 1050px;
		}

		&__grid__item {
			height: 52.5rem;

			& div[class^="image"] {
				height: 50%;
				width: 100%;
			}
		}
	}
}

@media only screen and (max-width: 1200px) {
	.nav {
		&__container {
			max-width: 900px;
		}
	}

	.free-nav ul {
		margin-left: 1.25rem;
	}

	.about-me {
		height: auto;
		&__container {
			max-width: 900px;
		}
		&__grid {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	.projects {
		&__container {
			max-width: 900px;
		}

		&__grid__item {
			height: 52.5rem;

			& div[class^="image"] {
				height: 50%;
				width: 100%;
			}

			&__buttons a {
				padding: 0.8rem;
			}
		}
	}
}

@media only screen and (max-width: 1024px) {
	.nav {
		&__container {
			max-width: 900px;
		}
	}

	.free-nav ul {
		top: 25%;
		margin-left: 0.5rem;
	}

	.header {
		height: 64vh;
	}

	.about-me {
		height: auto;
		&__container {
			max-width: 900px;
		}
		&__description {
			padding-left: 1rem;
		}
		&__grid {
			grid-template-columns: repeat(2, 1fr);
			&__item {
				padding: 3rem 0;
			}
		}
	}

	.projects {
		&__container {
			max-width: 900px;
		}
		&__grid {
			padding-left: 1rem;

			&__item__buttons {
				padding: 0.8rem;
			}
		}
	}
}

@media only screen and (max-width: 990px) {
	.menu {
		display: block;
		top: 0.6rem;
		right: 1.05rem;
	}

	.nav {
		display: none;
	}

	.free-nav {
		display: none;
	}
}

// ipad
@media only screen and (max-width: 900px) {
	// change the background animation
	.animation {
		& li:nth-child(2) {
			left: 5%;
		}
		& li:nth-child(6) {
			left: 14%;
			height: 90px;
			width: 90px;
		}

		& li:nth-child(7) {
			left: 29%;
		}
	}

	// change so hamburger displays instread
	.nav {
		display: none;
	}

	.free-nav {
		display: none;
	}

	// header area
	.header {
		height: 60vh;

		&__content {
			text-align: center;

			& h1 {
				font-size: 4.5rem;
			}
		}
	}

	// about me section
	.about-me {
		height: auto;

		&__flex {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
		}

		&__description {
			padding: 0 3rem;
			height: inherit;
		}

		&__skills {
			padding-left: 0rem;
			padding-top: 5rem;
		}

		&__grid {
			grid-template-columns: repeat(2, 1fr);
			&__item {
				padding: 4rem 4rem;
			}
		}

		& .chevron {
			display: none;
		}
	}

	// projects section
	.projects {
		height: 140vh;
		&__grid {
			grid-gap: 1.5rem;
			padding: 0 1.25rem;
		}
	}
}

// Smart Phones
@media only screen and (max-width: 420px) {
	// hamburger menu
	.menu {
		display: block;
		top: 0.6rem;
		right: 1.05rem;
	}

	// change the background animation
	.animation {
		& li:nth-child(1) {
			left: 4.5%;
			height: 55px;
			width: 55px;
		}
		& li:nth-child(2) {
			display: none;
		}
		& li:nth-child(3) {
			display: none;
		}
		& li:nth-child(4) {
			width: 50px;
			height: 50px;
			left: 30%;
		}
		& li:nth-child(5) {
			left: 40%;
		}
		& li:nth-child(6) {
			width: 60px;
			height: 60px;
			left: 50%;
		}
		& li:nth-child(7) {
			left: 72%;
		}
	}

	// change so hamburger displays instread
	.nav {
		display: none;
	}

	.free-nav {
		display: none;
	}

	// header area
	.header {
		height: 60vh;

		&__content {
			text-align: center;

			& h1 {
				font-size: 3rem;
			}
		}
	}

	// about me section
	.about-me {
		height: auto;

		&__flex {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
		}

		&__description {
			padding: 0 3rem;
			height: inherit;
		}

		&__skills {
			padding-left: 0rem;
			padding-top: 5rem;
		}

		&__grid {
			grid-template-columns: repeat(2, 1fr);
			&__item {
				padding: 4rem 2rem;
			}
		}

		& .chevron {
			display: none;
		}
	}

	// projects section
	.projects {
		&__grid {
			margin: 1.1rem;
		}
	}
}

@media only screen and (max-height: 1250px) {
	.projects__grid {
		margin: 1rem;
	}
}

// for older smartphones
@media only screen and (max-height: 750px) {
	.about-me__grid__item {
		padding: 4rem 1.5rem;
	}
}

// iphone 5
@media only screen and (max-height: 568px) {
	.projects {
		&__grid__item__buttons a {
			padding: 0.7rem;

			&:first-child {
				margin: 0;
			}
		}
	}
}
