$primary-color: #87ceeb;
$secondary-color: #7ae4b4;
$light-color: #f4f4f4;
$middle-color: #ccc;
$dark-color: #333;
$bg-image: url("/dist/img/bg-1.png");
$web-width: 1280px;
$response-width-1: 1400px;
$response-width-2: 1050px;
$response-width-3: 800px;
$response-width-4: 550px;
$response-width-5: 375px;
